fastapi==0.116.1
uvicorn==0.35.0
sqlalchemy==2.0.43
psycopg2-binary==2.9.10
python-jose==3.5.0
passlib==1.7.4
bcrypt==4.3.0
python-multipart==0.0.20
python-dotenv==1.1.1
PyMuPDF==1.26.4
requests==2.32.5
scikit-learn==1.7.2
numpy==2.3.2
rapidfuzz==3.14.1
streamlit==1.49.1
pandas==2.3.2
